<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruhua.springtest.mapper.TeamCodeRelationMapper">

    <resultMap id="BaseResultMap" type="com.ruhua.springtest.domain.TeamCodeRelation">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="teamId" column="team_id" jdbcType="INTEGER"/>
            <result property="codeId" column="code_id" jdbcType="INTEGER"/>
            <result property="createAt" column="create_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,team_id,code_id,
        create_at
    </sql>
</mapper>
