<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Code</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>


<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="/getCodeList">My Code</a>
                <a class="mdl-navigation__link" href="/getCommentList">My Comment</a>
                <a class="mdl-navigation__link" href="/getTeam">My Team</a>
                <a class="mdl-navigation__link" href="/getUserInfo">UserInfo</a>
                <a class="mdl-navigation__link" href="/getResultList">My Test Result</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Code</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/getCodeList">My Code</a>
            <a class="mdl-navigation__link" href="/getCommentList">My Comment</a>
            <a class="mdl-navigation__link" href="/getTeam">My Team</a>
            <a class="mdl-navigation__link" href="/getUserInfo">UserInfo</a>
            <a class="mdl-navigation__link" href="/getResultList">My Test Result</a>

        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <h1>Code</h1>

                    <th:block th:if="${session.userId != null}">
                        <p>User ID: <span th:text="${session.userId}"></span></p>
                    </th:block>

                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>
