<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Results</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<style>
    .container {
        margin: 0 auto;

    }


</style>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">My Results</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="/index">home</a>

            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">My Results</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/index">home</a>

        </nav>
    </div>
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">My Results</h2>
    </div>

    <main class="container">
        <div class="container">
            <div class="container">
                <div class="container">

                    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                        <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Test User</th>
                            <th class="mdl-data-table__cell--non-numeric">Code Id</th>
                            <th class="mdl-data-table__cell--non-numeric">Test Time</th>
                            <th class="mdl-data-table__cell--non-numeric">Update Time</th>
                            <th class="mdl-data-table__cell--non-numeric">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="result : ${results}">
                            <td class="mdl-data-table__cell--non-numeric" th:text="${result.getUserName()}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${result.getCodeId()}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${result.getTestTime()}"></td>
                            <td class="mdl-data-table__cell--non-numeric" th:text="${result.getUpdateAt()}"></td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <form action="/removeResult" method="post">
                                    <input type="hidden" name="codeId" id="codeId" th:value="${result.getCodeId()}"/>
                                    <input type="hidden" name="testUser" id="testUser" th:value="${result.getTestUser()}"/>
                                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                                            type="submit">Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </main>
</div>
</body>
</html>